<div id='social-bar'>
	<span id='facebook' class='icon-container'>
		<%= link_to image_tag('icons/facebook-icon.jpeg', class: 'icon'), 
			'https://www.facebook.com/wildciderco', target: '_blank'
			%>
	</span>
	<span id='twitter' class='icon-container'>
		<%= link_to image_tag('icons/twitter-icon.jpeg', class: 'icon'),
			'http://www.twitter.com', target: '_blank' %>
	</span>
</div>

