<div class='ad-container'>
	<% if advertisement.link_to %>
		<%= link_to(
				image_tag(@advertisement.image_file, class: 'ad'),
					advertisement.link_to,
					class: 'ad-link' ) %>

	<% else %>
		<%= image_tag advertisement.image_file, class: 'ad' %>
	<% end %>

	<% if advertisement.display_caption? %>
		<div class='ad-caption caption'>
			<%= advertisement.caption %>
		</div>
	<% end %>
</div>

