<div class='cider-bucket'>
	<div class='cider-label-container'>
		<%= image_tag cider.image_file, class: 'cider-label' %>
	</div>
	
	<div class='cider-content'>
		<span class='cider-name title'><%= cider.name %></span>
		<div class='cider-description'><%= cider.description %></div>
	</div>
</div>





