<div class='person-bucket'>
	<div class='person-image'>
		<%= image_tag person.image_file, alt: person.name %>
	</div>
	<div class='person-container'>
		<div class='person-title title'>
			<span class='person-name'><%= person.name %></span>,
			<span class='person-position'><%= person.position %></span>
		</div>

		<div class='person-bio'>
			<%= person.biography %>
		</div>
	</div>
</div>










