<li class='update-summary'>
	<span class='update-summary-title'>
		<%= update_summary.title %> 
	</span>
	<span class='post-date'>
		<%= update_summary.post_at %>
	</span>
	<span class='update-summary-description short-description'>
		<%= update_summary.description.slice(0, 40) %>
	</span>
</li>




