<li class='update-summary'>
	<div class='update-summary-header update-header'>
		<span class='update-summary-title'>
			<%= update_summary.title %> 
		</span>
		<span class='post-date'>
			<%= update_summary.post_at.localtime.strftime('(%a %b %-d at %l:%M %P)')%>
		</span>
	</div>
	<div class='update-summary-description short-description'>
			<%= summarize update_summary.description %>
	</div>
</li>




