<div class='top-content'>
	<div class='cidery-module'>
		<div class='cidery-image-container'>
			<%#= image_tag 'cidery_feature_large.jpg', alt: 'Wild Cider Cidery' %>
		</div>
		<div class='cidery-content text-content'>
			<p>
				If you are as passionate about something as we are about cider, 
					you better find a way to make it part of your life. 
				Before we thought of making our own cider, 
					all of us here at Wild Cider drank cider over all other options 
					both at home and out on the town.  
				We enjoyed cider so much, the idea of making Cider naturally drew us in, 
					and evoked such excitement that we decided to pursue it, 
					not just as a hobby but as a life long dedication.  
				And so the search began to find the perfect location to do just that.
			</p>
			<p>
				In the fall of 2012 we found just what we were looking for, 
					fourteen acres of prime agricultural land located in a rural area 
					north of Denver, CO, in a town called Firestone. 
				The property is right in the middle of what was once known as 
					&quot;the fruit basket of the West&quot;. 
				Seventy-five years ago there were over two million fruit trees 
					in Northern Colorado until, in 1951, a hard freeze killed 
					the entire cherry crop and decimated the rest of the fruit trees.  
				Most were never replanted.  
				We thought this would be the ideal location to plant an orchard 
					and start a Cidery.
			</p>
			<p>
				First settled in 1919, our property is rich in history. 
				Starting out as a dairy farm, the original farm house still 
					remains on the property along with the milk storage barn.  
				In 2004 the property was redeveloped into a creamery that produced 
					gourmet goat milk and cheese.  
				During this redevelopment, a new production facility was constructed, 
					and it turns out it is ideally suited for cider production.
			</p>
			<p>
				When we discovered the property, the goats had been gone for many years 
					and all that remained were the remnants of what once was. 
				Fortunately, the modern processing facility was in pristine condition 
					and ready for a new life as a cidery. 
				We wasted no time purchasing the property and acquiring 
					the necessary permits.  
				Before long we had all of our equipment setup and 
					the cider began to flow.  
				In the spring of 2014 we will be planting our orchard of 
					1300 apple trees of specific varieties providing us the fruit 
					for the cider, and reanimating it as a &quot;fruit basket of the West&quot;.
				</p>
				<p>
					For many months prior to opening our doors we toiled over 
						creating our final recipes.  
					All our labor has coalesced in the production of the 
						World&apos;s Best Ciders.  
					We are certain you will enjoy our ciders as much as we do.
				</p>
				<p>
					<em>Cheers!</em>
				</p>
		</div>
	</div>
<!--
	<div class='people-module'>
		<h1>Our People</h1>
		<%= render partial: 'person', collection: @people %>
	</div>
-->
</div>


