<div id='contact-us-module'>
	<h1>Contact Us</h1>

	<div class='top-container'>
		<div class='left-container'>
			<div class='email'>
				<span class='label'>Email</span>
				test@test.com
			</div>

			<div class='phone'>
				<span class='label'>Phone</span>
				(303) 532-9949
			</div>
		</div>

		<div class='right-container'>
			<span class='address'>
				11455 County Road 17 <br />
				Firestone, Colorado 80504
			</span>
			<%= link_to image_tag('test/temp_image_thumbnail.png'),
				'http://bing.com/maps/default.aspx?v=2&pc=FACEBK
					&mid=8100&where1=11455+County+Road+17%2C+Firestone%2C+Colorado+80504
					&FORM=FBKPL0&name=Wild+Cider&mkt=en-US', target: '_blank' %>
		</div>
	</div> 

	<div class='bottom-container'>
		<span class='facebook'>
			<%= link_to image_tag('test/temp_image_thumbnail.png'), 
				'https://www.facebook.com/wildciderco', target: '_blank' %>
		</span>
		<span class='twitter'>
			<%= link_to image_tag('test/temp_image_thumbnail.png'),
				'http://www.twitter.com', target: '_blank' %>
		</span>
	</div>
</div>










