<div id='contact-us-module'>
	<h1>Contact Us</h1>

	<div class='top-container'>
		<div class='left-container'>
			<div class='email'>
				<span class='label'>Email</span>
				<%= mail_to 'info@wildcider.com', 'info@wildcider.com', 
					subject: 'Contact Us', class: 'mail-link' %>
			</div>

			<div class='phone'>
				<span class='label'>Phone</span>
				(303) 532-9949
			</div>
		</div>

		<div class='right-container'>
			<span id='address-label' class='label'>Address</span>
			<%= link_to( 
						raw('<span class="address">
									11455 County Road 17 <br />
									Firestone, Colorado 80504
									</span>'),
					'http://bing.com/maps/default.aspx?v=2&pc=FACEBK
						&mid=8100&where1=11455+County+Road+17%2C+Firestone%2C+Colorado+80504
						&FORM=FBKPL0&name=Wild+Cider&mkt=en-US', target: '_blank') 
			%>
		</div>
	</div> 

	<div class='bottom-container'>
		<%= render 'shared/social_bar' %>
	</div>
</div>










