<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
					
<div class='top-container'>
	<div id='feature-image-container' class='slide-show'>
		<%= image_tag 'features/mountain_view.jpg', 
			class: 'feature-image active slide-show-image',
			data: { order: 1 } %>
		<%= image_tag 'features/blossom_tree.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 2 } %>
		<%= image_tag 'features/can_lineup.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 3 } %>
		<%= image_tag 'features/drinking_cider.jpg', 
			class: 'feature-image slide-show-image', 
			data: { order: 4 } %>
	</div>
	<div class='updates-module'>
		<h1>Happenings</h1>
		<div class="fb-like-box updates-container" 
			data-href="https://www.facebook.com/wildciderco" 
			data-colorscheme="light" data-show-faces="false" 
			data-header="false" data-stream="true" data-show-border="true"
			data-width="1000" data-height="500">
		</div>
	</div>

	<div class='right-container'>
		<div class='ad-module'>
			<%#= render @advertisements %>
		</div>
	</div>
</div>

<div class='bottom-container'>
	<div class='cider-blurb'>
	</div>
</div>



