<div class='top-container'>
	<div class='updates-module'>
		<div class='update-image'>
			<%= image_tag "test/temp_image.png" %>
		</div>

		<div class='update-container'>
			<ul class='updates-list'>
				<li class='update first-update'></li>
				<li class='update second-update'></li>
				<li class='update third-update'></li>
			</ul>
		</div>
	</div>

	<div class='ad-module'>
		<div class='ad'>
			<%= image_tag "test/temp_image.png"%>
		</div>

		<div class='ad'>
			<%= image_tag "test/temp_img.png"%>
		</div>
	</div>
</div>

<div class='bottom-container'>
	<div class='cider-blurb'>
	</div>
</div>



