<div class='top-container'>
	<div class='updates-module'>
		<h1>Happenings</h1>
		<div class='update-image'>
			<% image_file = @updates.first.image_file if @updates.first %>
			<% image_alt_text = @updates.first.title if @updates.first %>
			<% image_file ||= 'test/temp_image_medium.png' %>
			<% image_alt_text ||= 'Updates' %>
			<%= image_tag image_file, alt: image_alt_text %>
		</div>
		<div class='update-container'>
			<ul class='updates-list'>
				<%= render partial: 'update_summary', collection: @updates %>
			</ul>
		</div>
	</div>

	<div class='ad-module'>
		Ads
		<div class='ad'>
			<%= image_tag "test/temp_image_medium.png"%>
		</div>

		<div class='ad'>
			<%= image_tag "test/temp_image_medium.png"%>
		</div>
	</div>
</div>

<div class='bottom-container'>
	<div class='cider-blurb'>
		Here's some interesting stuff about cider
	</div>
</div>



