<div class='top-container'>
	<div id='feature-image-container'>
		<%= image_tag 'mountain_view_feature.jpg', id: 'feature-image' %>	
	</div>
	<div class='updates-module'>
		<h1>Happenings</h1>
		<div class='update-image'>
			<% if @updates.first %>
				<%= image_tag @updates.first.image_file, alt: @updates.first.title %>
			<% else %>
				<h3 class='alert'>
					No Recent Updates
				</h3>
			<% end %>
		</div>
		<div class='updates-container'>
			<ul class='updates-list'>
				<%= render partial: 'update_summary', collection: @updates %>
			</ul>
		</div>
	</div>

	<div class='right-container'>
		<div class='ad-module'>
			<%= render partial: 'advertisement', collection:  @advertisements %>
		</div>
	</div>
</div>

<div class='bottom-container'>
	<div class='cider-blurb'>
	</div>
</div>



