<h1>Recent Updates</h1>
<%= render 'shared/flash_messages' %>
<div>
	<%= link_to 'New Update', new_update_path %>
</div>
	
<% if @updates.any? %>
	<ul id='updates-list'>
		<% @updates.each do |update| %>
			<li class='update'>
				<%= link_to update.title, update_path(update) %>
				<%#= link_to 'Edit', edit_update_path(update) %>
				<%= link_to 'Delete', update_path(update), method: :delete,
					data: { confirm: 'Are you sure you want to delete this update?' } %>
			</li>	
		<% end %>
	</ul>

<% else %>
	No Recent Updates

<% end %>

