// Defines global variables

//--- Colors ---
// scheme 1
$apple-red: #B61B1B;
$apple-green: #436117;
$pumpkin-orange: #CC6600;

// scheme 2
$burnt-red: #5F0D0A;
$dark-red: #A60000;
$light-red: #F44343;
$salmon: #FFE0CA;

$lavendar: #E1B0FF;

$cream: #FFF0C0;
$mid-grey: #585858;
$silver: #E6E8FA;
$burly-wood: #DEB887;
$burlap: #B9A37A;

// color definition
$primary-color: $dark-red;
$secondary-color: $light-red;
$tertiary-color: $silver;
$quaternary-color: $apple-green;


// Font and Text
$font-stack: Verdana, sans-serif;
$title-text: $dark-red;
$primary-text: $burnt-red;
$secondary-text: $mid-grey;
$contrast-text: $apple-green;







