@import 'site_variables';

body {
	font: $font-stack;
	color: $primary-text;
}

a {
	color: $primary-text;
	text-decoration: none;

	&:hover, &:active {
		text-decoration: underline;
	}

	&:hover {
		cursor: pointer;
	}
}

