// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'site_variables';

//--- Variables ---



//--- General template styles --- 
.top-container, .bottom-container {
	clear: both;
	margin: 0px 0px 5px 0px;
}

.left-container {
	float: left;
}

.right-container {
	float: right;
}

h1 {
	text-align: center;
}

//--- Home page ---

.updates-module {
	display: inline-block;
	width: 60%;
	max-width: 800px; 
	margin-right: 20px;

	//background-color: $tertiary-color;

	.update-image {
		margin-left: 3em;
		height: 15em;

		img {
			height: 100%;
		}
	} // .update-image

	.updates-container {
		padding-left: 1em;
		
		.updates-list {
			list-style: none;

			.update-summary {
				margin: 1em 0em;

				.update-summary-title {
					font-size: 1.2em;
					font-weight: bold;
					color: $title-text;
				}

				.post-date {
					font-size: 0.8em;
					color: $secondary-text;
				}

				.update-summary-description {
					text-align: justify;
				}

				.external-link {
					font-size: 0.9em;
					color: $contrast-text;

					&:hover, &:active {
						font-weight: bold;
					}

					&:hover {
						cursor: pointer;
					}	
				} // .external-link
			} // .update-summary
		} // .updates-list
	} // .updates-container
} // .updates-module

.ad-module {
	display: inline-block;
	width: 35%;
	vertical-align: top;

	margin-top: 5em;
	margin-left: 10px;

	.ad {
		margin: 1em;
	}
}

.cider-blurb {
	//margin-left: 15px;
}

//--- Cider page ---
.cider-history-module {
	
}

.cider-module {

	.cider-navigation {
		text-align: center;
		width: 100%;

		.anchor-link { 
			// TODO: figure out how to make all links same width
			background-size: 1.2em 1.2em;
			background-repeat: no-repeat;
			color: $primary-text;
			
			padding-left: 1.4em;
			margin: 0.1em 2em;

		} // .anchor-link

		#to-summer-ciders {
			background-image: asset-url('sun-icon.jpg');
		}

		#to-fall-ciders {
			background-image: asset-url('leaf-icon.jpg');
		}
	
		#to-winter-ciders {
			background-image: asset-url('snowflake-icon.jpg');
		}

		#to-spring-ciders {
			background-image: asset-url('sprout-icon.jpg');
		}
	} // end cider-navigation

	.season-title {
		color: $title-text;
	}

	.seasonal-cider-container {
		clear: both;
	}


	// cider-bucket -- Remove once Cider controller is genreated and
	//									migrate CSS to the file for ciders
	.cider-bucket {
		clear: both;

		.cider-label {
			float: left;
			
			margin: 0em 1em 1.3em 1em;
		}

		.cider-content {
			.cider-name {
				color: $title-text;
				font-weight: 600;
				padding-left: 2em;
			}

			.cider-description {
				text-align: justify;
				width: 65%;
			}
		} // end cider-content
	} // end cider-bucket

} // end cider-module


//--- About Us page ---

.cidery-module {
	margin-top: 2em;
	
	.cidery-image-container {
		height: 25em;
			
		background: image-url('cidery_feature_large.jpg') no-repeat;
		background-size: cover;
		
		img {
			height: 100%;
		}
	}

	.cidery-content {
		font-size: 1.1em;
		text-align: justify;
	}
} // .cidery-module


// Move person-bucket CSS to specific file when created
.person-bucket {
	.person-image {
		float: left;
		margin-right: 1em;
	} // end person-image

	.person-container {
		.person-title {
			.person-name {
				font-size: 1.1em;
				font-weight: 600;
			}

			.person-position {
				font-size: 0.9em;
			}
		} // end person-title

		.person-bio {
			margin-top: .5em;
		}
		
	} // end person-container
} // end person-bucket


//---- Contact Us ----
#contact-us-module {
	margin: 0 15%;

	.label {
		color: $contrast-text;
		font-weight: bold;
	}
} // #contact-us-module




























