// Style sheet for application layouts

@import 'site_variables';
@import 'mixins';

//--- Header ---
header {
	@include radial-gradient-background($salmon, $light-red, 200%);
	//background-color: $tertiary-color;
	
	height: 14em;
	margin: 0;
	padding: 0 12.5% 0.5em 12.5%;

	.logo-container {
		height: 90%;
		text-align: center;

		.site-logo-image {
			height: 100%;
			vertical-align: center;
		}
	} // .logo-container

	nav {
		position: relative;
		padding: 0.1em 0em;

		a {	
			padding: 0.3em 2em;

			color: $primary-color;
			font-weight: 600;
			font-size: 1.2em;

			&:hover, &:active {
				text-decoration: underline;	
			}

			&:hover {
				cursor: pointer;
			}
		}
		
		.admin-navigation-container {
			display: inline-block;
			position: absolute;
			right: 0px;

			margin: 0;
		} // .admin-navigation-container
	} // nav
} // header

// main content
.main-content {
	margin: 0 10%;
	padding: 0 2.5%;

} // .main-content

// footer
footer {

} // footer
