// Style sheet for application layouts

@import 'site_variables';
@import 'mixins';

//--- Variables ---
$border-width: 12.5%;


//--- Body ---
body {
	min-width: 1100px;
	@include radial-gradient-background($tertiary-color, white);
	
	font-family: $font-stack;
} // body

//--- Header ---
header {
	@include radial-gradient-background($salmon, $light-red, 200%);
	
	position: relative;
	min-height: 12em;
	margin: 0 $border-width;
	padding: 0 0 0.5em;
	border-bottom: $primary-color solid 3px;

	.logo-container {
		text-align: center;

		.site-logo-image {
			height: 11em;

			vertical-align: center;
		}
	} // .logo-container

	nav {
		position: relative;
		padding: 0.1em 0em;

		text-align: center;

		a {	
			padding: 0.3em 2em;

			color: $primary-color;
			font-weight: bold;
			font-size: 1.2em;

			&:hover, &:active {
				text-decoration: underline;	
			}

			&:hover {
				cursor: pointer;
			}
		}
		
		.admin-navigation-container {
			display: inline;
		} // .admin-navigation-container
	} // nav

	.slogan {
		font-weight: bold;
		font-size: 1.5em;
		color: white;
		text-shadow: 2px 2px 1px $primary-text;
		
		&#worlds-best-container {
			position: absolute;
			top: 0.5em;
			left: 1em;

		} // #worlds-best-container

		&#gluten-free-container {
			position: absolute;
			top: 0.5em;
			right: 1em;
		}
	} // .slogan

	#quick-contact {
		position: absolute;
		bottom: 0.5em;
		right: 1em;

		.contact-info {
			margin-bottom: 0.5em;
		}

		.social-bar-container {
			text-align: right;

			.social-bar {
				margin-right: 1em;
			}
		}
	} // #quick-contact
} // header


//--- Borders ---
.site-border {
	position: absolute;
	top: 0;

	width: $border-width;
	height: 100%;
	margin: 0;
	padding: 0;

	background-repeat: no-repeat;
	background-size: cover;

	&#site-border-left {
		left: 0;
		background-image: asset-url('shared/cider_left_border.jpg');
	}

	&#site-border-right {
		right: 0;
		background-image: asset-url('shared/cider_right_border.jpg');
	}
} // .site-border

//--- Main Content ---
.main-content {
	$content-padding: 2.5%;

	margin: 0 ($border-width - $content-padding);
	padding: 0 $content-padding;
} // .main-content

// footer
footer {
	clear: both;

	background-color: $secondary-color;
	width: 75%;
	height: 3em;
	padding: 1em 0 0; 
	margin: 10em $border-width 0;

	text-align: center;

	a {
		font-size: 0.85em; 
		font-weight: bold;
	}
} // footer
