// Style sheet for application layouts

@import 'site_variables';
@import 'mixins';

//--- Body ---
body {
	@include radial-gradient-background($tertiary-color, white);
} // body

//--- Header ---
header {
	@include radial-gradient-background($salmon, $light-red, 200%);
	//background-color: $tertiary-color;
	
	height: 14em;
	margin: 0;
	padding: 0 12.5% 0.5em 12.5%;
	border-bottom: $primary-color solid 3px;

	.logo-container {
		height: 90%;
		text-align: center;

		.site-logo-image {
			height: 90%;

			vertical-align: center;
		}
	} // .logo-container

	nav {
		position: relative;
		padding: 0.1em 0em;

		text-align: center;

		a {	
			padding: 0.3em 2em;

			color: $primary-color;
			font-weight: bold;
			font-size: 1.2em;

			&:hover, &:active {
				text-decoration: underline;	
			}

			&:hover {
				cursor: pointer;
			}
		}
		
		.admin-navigation-container {
			display: inline-block;
			//position: absolute;
			//right: 0px;
			
			margin-left: 1em;

			a {
				padding: 0.3em 0.5em;
			}
		} // .admin-navigation-container
	} // nav
} // header

// main content
.main-content {
	margin: 0 10%;
	padding: 0 2.5%;
} // .main-content

// footer
footer {
	min-height: 10em;
} // footer
