// Style sheet for shared views and partials

@import 'site_variables';
@import 'mixins';

#social-bar {
	.icon-container {
		padding: 0;
		margin: 0;
		
		.icon {
			width: 2em;
			height: 2em;
		}
	}	
} // #social-bar
