// Place all the styles related to the Update controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Summary styling
.update-summary {
	list-style-type: none;
 	// list-style-image: url('arrows');	

	margin-bottom: 7px;

	.update-summary-header {
		.update-summary-title {
			font-size: 0.9;
			font-weight: 600;
		}

		.post-date {
			font-size: 0.75em;
			font-color: #545454;
		}
	} // end update-summary-header

	.short-description {
		font-size: 0.95em;
	}

} // end update-summary






