<% if !(defined? alerts).nil? && alerts.any? %>
	<div class='alerts-bar'>
		<ul class='alert-container'>
			<% alerts.each do |msg| %>
				<li class='alert'><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>


