<header>
	<div class='logo-container'>
		<%= link_to image_tag('test/temp_image_large.png', alt: "Wild Cider", 
			class: "site-logo-image logo-image"), root_path %>

		<span class="site-title title">Wild Cider</span>	
	</div>

	<%= render partial: 'layouts/navigation' %>
	
</header>

















