<header>
	<div class='logo-container'>
		<%= link_to image_tag('shared/header_logo.png', alt: "Wild Cider", 
			class: "site-logo-image logo-image"), root_path %>
	</div>

	<%= render partial: 'layouts/navigation' %>
	
</header>

















